$maincolor: #0011AE;
$orangecolor: #C35E00;
$fsize: 16px;
@mixin flexible() {
    display: flex;
    justify-content: space-between;
}

@mixin heading() {
    text-align: center;
    color: $maincolor;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 25px;
}

//==============================
//контейнер
.wrapper {
    font-size: $fsize;
    font-family: Roboto;
    max-width: 1080px;
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    .main {
        //контент
        margin-top: 40px;
        flex: 1 1 auto;
        .heading {
            //Текст "Наиболее часто задаваемые вопросы"
            @include heading();
        }
        .faq {
            .faq-item {
                border-bottom: 1px solid $maincolor;
                margin-bottom: 5px;
                //Вопросы
                .faq-title {
                    font-weight: 500;
                    font-size: 20px;
                    padding: 10px;
                    display: block;
                    cursor: pointer;
                }
                .faq-title:hover {
                    background: #deebff;
                    transition: .3s ease-out;
                }
                .faq-text {
                    font-size: $fsize;
                    display: none;
                    padding: 10px;
                }
                .faq-input:checked+.faq-title {
                    background: #deebff;
                }
                .faq-input:checked~.faq-text {
                    display: block;
                }
            }
        }
        //Форма
        .ask-question {
            //Текст "Задать вопрос"
            margin-top: 25px;
            @include heading();
        }
        .main-form {
            display: flex;
            justify-content: center;
            form {
                //Телефон, почта и имя
                input {
                    display: flex;
                    padding: 5px;
                    margin-bottom: 15px;
                    width: 100%;
                    border: 1px solid black;
                    border-radius: 5px;
                }
                textarea {
                    //Ваш вопрос
                    resize: none;
                    padding: 5px;
                    width: 100%;
                    border: 1px solid black;
                    border-radius: 5px;
                }
                .buttons {
                    button {
                        //Кнопки Отправить и очистить
                        cursor: pointer;
                        background: rgb(233, 233, 233);
                        margin-top: 15px;
                        border: 1px solid black;
                        padding: 10px 25px 10px 25px;
                        border-radius: 5px;
                    }
                    button:hover {
                        background: rgb(252, 252, 252);
                        box-shadow: 0px 0px 20px 2px rgba(34, 60, 80, 0.2);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1080px) {
    .wrapper {
        max-width: 970px;
    }
}

@media screen and (max-width: 992px) {
    .wrapper {
        max-width: 750px;
    }
}

@media screen and (max-width: 767px) {
    .wrapper {
        padding: 15px;
        .main {
            .faq {
                .faq-item {
                    .faq-title:hover {
                        background: none;
                    }
                }
            }
            .main-form {
                form {
                    .buttons {
                        button:hover {
                            box-shadow: none;
                            background: rgb(233, 233, 233);
                        }
                    }
                }
            }
        }
    }
}